img{
    max-width: 100%;
    height: auto;
    background:lightblue;
    background: radial-gradient(white 30%,lightblue 70%);
}

body{
    font-family: "Montserrat",sans-serif;
    background-color: #f6f5f5;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.fa-star,
.fa-star-half{
    color: yellowgreen;
}